<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analytics Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5 mb-5" style="border-radius: 20px; background-color: rgba(13,201,238,0.06)">
<div style="border-radius: 20px; background-color: rgb(255,255,255)" class="p-3 mb-4">
<h1 class="mb-4">Data Analytics Dashboard</h1>
<h2 class="fs-4 fw-light">Тема: Оплати медичним закладам за програмою медичних гарантій за 2024 рік.
</h2>
<h3 class="fs-5 fw-light">Мета: Проаналізувати, як держава фінансувала медичні заклади у 2024 році. Я хочу дослідити, чи є велика різниця у
    виплатах між різними закладами та як ці гроші розподіляються в часі.
</h3>
    </div>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header bg-info text-white">Data Quality Report</div>
            <div class="card-body">
                <pre>{{ quality }}</pre>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header bg-info text-white">Research Results</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Top 10% Share: <b>{{ research.get('h1_top_10_share_percentage', 'N/A')
                    }}%</b></li>
                <li class="list-group-item">FOP Avg Payment: <b>{{ research.get('h2_fop_avg', 'N/A') }}</b></li>
                <li class="list-group-item">KNP Avg Payment: <b>{{ research.get('h2_knp_avg', 'N/A') }}</b></li>
                <li class="list-group-item">Peak Activity Day: <b>{{ research.get('h3_peak_day', 'N/A') }}</b> ({{
                    research.get('h3_peak_value', 0) }} transactions)
                </li>
            </ul>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-info text-white">Visualizations</div>
            <div class="card-body text-center">
                <img src="/plots/h1_concentration.png" class="img-fluid mb-3" alt="H1 Chart">
                <img src="/plots/h3_daily_activity.png" class="img-fluid" alt="H3 Chart">
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header bg-info text-white">Sample Data (Top 10 Rows)</div>
        <div class="card-body table-responsive">
            {{ table | safe }}
        </div>
    </div>
</div>
</body>
</html>